root, html, body {
  margin: 0;
  padding: 0;
}

.container {
  width:200%;
  margin: 0 auto;
}

header {
  background-color: #a10f0f;
  color: rgb(243, 240, 52);
  padding: 16px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background-color: #ffffffea;
  margin-top: 8px;
}

nav a {
  text-decoration: none;
  color: #a10f0f;
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}


main {
  padding: 16px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #a10f0f;
  color: rgb(243, 240, 52);
}


table td a {
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.btn-update {
  background-color: #1014f0;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #0905e4;
  transform: scale(1.1);
}


.btn-update:active {
  background-color: #058f99;
  transform: scale(0.95);
}

.btn-update:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(21, 89, 216, 0.7);
}


.btn-delete {
  background-color: #FF5722;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  cursor: pointer;
}


.btn-delete:hover {
  background-color: #e40505;
  transform: scale(1.1);
}


.btn-delete:active {
  background-color: #990505;
  transform: scale(0.95);
}

.btn-delete:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.7);
}


footer {
  text-align: center;
  padding: 16px;
  background-color: #333;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: white
  ;
}

.register {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.register .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.register .field label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.register .field input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.register .field input:focus {
  border-color: #a10f0f;
  outline: none;
}

.register .field button {
  background-color: #a10f0f;
  color: rgb(243, 240, 52);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.register .field button:hover {
  background-color: #8d0d0d;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

// 1:04 parou

